* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 500px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 20px 30px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 14px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.filter-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.filter-row label {
  font-size: 16px;
  margin-right: 10px;
  color: #000000;
  padding-top: 6px;
  font-weight: bold;
}

.filter-row select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 5px;
}

#list-container {
  max-height: 150px;
  overflow-y: auto;
  padding-right: 10px;
}

ul li {
  position: relative;
  list-style: none;
  font-size: 15px;
  padding: 18px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f4f4f4;
  margin-bottom: 5px;
  border-radius: 5px;
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  top: 5px;
  border: none;
  outline: none;
  padding: 8px 10px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  border-radius: 20px;
}

ul li .edit {
  right: 70px;
  padding: 10px 18px;
  background: #008CBA;
}

ul li .edit:hover {
  background: #0073a8;
}

ul li .delete {
  right: 10px;
  padding: 10px 10px;

  background: #ff0000e5;
}

ul li .delete:hover {
  background: #a30404;
}

footer {
  text-align: center;
  color: rgb(109, 109, 109);
  padding-top: 30px;
  font-family: 'Poppons', sans-serif;
  font-size: small;
  font-style: italic;
}